<ul>
	<% @kittens.each do |kitten| %>
		<li>
			<%= render "kitten", kitten: kitten %>
			<%= link_to "DESTROY THIS KITTEN.", kitten_path(kitten), data: {turbo_method: :delete, turbo_confirm: 'You are about to destroy a kitten.'} %>
		</li>
		<br>
	<% end %>
</ul>